/* Headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include clearfix;
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  &:first-child {
    margin-top: 0;
  }
  & a,
  a & {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
a.h1, a.h2, a.h3, a.h4, a.h5, a.h6 {
	color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.subheader {
  color: tint($heading-text-color, $lead-percentage);
}

h1, .h1,
h1.site-title {
  font-family: $site-font;
  color: shade($body-text, $title-percentage);
  text-transform: capitalize;
	font-variant: small-caps;
  font-weight: $headings-font-weight;
  line-height: 1rem;
}

h2, .h2,
h2.page-title {
  font-family: $page-title-font;
	color: $page-title-color;
  font-weight: $headings-font-weight;
  margin: $horizontal-spacer 0 calc($horizontal-spacer * .5);
  @include links;
}

h3, .h3,
h3.post-title {
	font-family: $post-title-font;
	color: $post-title-color;
  font-weight: 700;

  @include links;
}

h4, .h4 {
  font-style: italic;
  font-weight: 700;
  font-family: $sub-title-font;
  text-transform: uppercase;
  font-variant: small-caps;
  color: shade($secondary, $heading-percentage);

  @include links;
}

h5, .h5,
h5.heading {
  font-family: $heading-text-font;
  font-weight: $base-font-weight;
	color: $heading-text-color;
  margin: $horizontal-spacer 0 $horizontal-spacer;
  @include links;
}

h6, .h6,
h6.lead {
	font-family: $lead-font;
	font-weight: $lead-font-weight;
	font-size: $lead-font-size;
	color: $lead-text-color;
  margin: $horizontal-spacer 0 $horizontal-spacer;
}


h5, .h5,
h6, .h6 {
	font-size: 100%;
	text-transform: capitalize;
}
