/**
 * Author
 */

.author-bio {
	position: relative;
	font-size: $xs;
	max-width: $responsive-aligndefault-width;

	.site-main > article > & {
		margin-top: calc(2 * $vertical-offset);
	}

	// Avatars are optional and can be turned off.
	&.show-avatars {

		.avatar {
			display: inline-block;
			vertical-align: top;
			border-radius: 50%;
		}

		.author-bio-content {
			display: inline-block;
			padding-left: $horizontal-offset;
			max-width: calc($responsive-aligndefault-width - 90px);
		}
	}

	.author-bio-content {

		.author-title {
			font-family: $entry-author-bio-font-family;
			font-size: $entry-author-bio-font-size;
			display: inline;
		}

		.author-description {
			font-size: $xs;
			margin-top: calc(0.5 * $vertical-offset);
			margin-bottom: calc(0.5 * $vertical-offset);
		}
	}
}
