.fp-slide .entry-header {
    margin: 0 0 40px;
}

.fp-slide h1.entry-title {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    border-bottom: 0;
    padding-bottom: 0;
}
