article {
  background-color: orange;
  margin-top: 5vh;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5vw;
  z-index: $z-index-article;

  padding-top: .5vh;
	padding-right: .5vw;
	padding-bottom: .5vh;
	padding-left: 1.5vw;

  width: auto;
  height: auto;
  @include box-sizing($type: border-box);

	&:hover {
		@include elevation(15);
	}
	& > figure,
	& > img {
		max-width: 100%;
	}
}

.content {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 120px;
	opacity: 0;
}
