$gradient-primary: linear-gradient( 190deg, $primary, transparent );
$gradient-secondary: linear-gradient( $secondary, $white, transparent );
$gradient-accent: linear-gradient( 290deg, $accent, transparent );
