.container .span.col1
{
    flex: 0 0 ;

    width: 6.25%;
}
.container .span.col2
{
    flex: 0 0 ;

    width: 12.50%;
}
.container .span.col3
{
    flex: 0 0 ;

    width: 18.75%;
}
.container .span.col4
{
    flex: 0 0 ;

    width: 25%;
}
.container .span.col5
{
    flex: 0 0 ;

    width: 31.25%;
}
.container .span.col6
{
    flex: 0 0 ;

    width: 37.50%;
}
.container .span.col7
{
    flex: 0 0 ;

    width: 43.75%;
}
.container .span.col8
{
    flex: 0 0 ;

    width: 50%;
}
.container .span.col9
{
    flex: 0 0 ;

    width: 56.25%;
}
.container .span.col10
{
    flex: 0 0 ;

    width: 62.50%;
}
.container .span.col11
{
    flex: 0 0 ;

    width: 68.75%;
}
.container .span.col12
{
    flex: 0 0 ;

    width: 75%;
}
.container .span.col13
{
    flex: 0 0 ;

    width: 81.25%;
}
.container .span.col14
{
    flex: 0 0 ;

    width: 87.50%;
}
.container .span.col15
{
    flex: 0 0 ;

    width: 93.75%;
}
.container .span.col16
{
    flex: 0 0 ;

    width: 100%;
}
.container .span.col-auto
{
    flex: 0 0 auto;

    width: auto;
}

.container .span.row1
{
    flex: 0 0 ;

    height: 6.25%;
}
.container .span.row2
{
    flex: 0 0 ;

    height: 12.50%;
}
.container .span.row3
{
    flex: 0 0 ;

    height: 18.75%;
}
.container .span.row4
{
    flex: 0 0 ;

    height: 25%;
}
.container .span.row5
{
    flex: 0 0 ;

    height: 31.25%;
}
.container .span.row6
{
    flex: 0 0 ;

    height: 37.50%;
}
.container .span.row7
{
    flex: 0 0 ;

    height: 43.75%;
}
.container .span.row8
{
    flex: 0 0 ;

    height: 50%;
}
.container .span.row9
{
    flex: 0 0 ;

    height: 56.25%;
}
.container .span.row10
{
    flex: 0 0 ;

    height: 62.50%;
}
.container .span.row11
{
    flex: 0 0 ;

    height: 68.75%;
}
.container .span.row12
{
    flex: 0 0 ;

    height: 75%;
}
.container .span.row13
{
    flex: 0 0 ;

    height: 81.25%;
}
.container .span.row14
{
    flex: 0 0 ;

    height: 87.50%;
}
.container .span.row15
{
    flex: 0 0 ;

    height: 93.75%;
}
.container .span.row16
{
    flex: 0 0 ;

    height: 100%;
}
.container .span.row-fluid
{
    flex: 0 0 auto;

    height: auto;
}
