$hr-margin-y:                 ($spacer * 1.75) !default;
$hr-color:                    inherit !default;
$hr-bg-color:                 currentColor !default;
$hr-border-width:             0 !default;
$hr-height:                   1px !default;
$hr-opacity:                  .25 !default;

hr {
  background: $hr-bg-color;
  color: $hr-color;
  border: $hr-border-width solid #eee;
  box-sizing: content-box;

  height: $hr-height;
  margin: 0 0 $hr-margin-y;
  opacity: $hr-opacity;
}
