/* 3 */

blockquote {
	font-style: italic;
	border-left: 5px solid shade(#eee, $border-percentage);
	padding-left: 1.5em;
	margin: 1em 0 1.5em;

	small {
		display: block;
		line-height: 1.7em;
		font-size: $sm-font-size;
	}
}

blockquote,
q {
	font-family: $accent-font;
	background: $secondary-bg;
	border-left: 10px solid $primary;
	display: block;
  padding-left: $xl;
  quotes: none;
	&:before,
	&:after {
		content: "";
	}
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}
