$text:               tint($primary, $text-percentage);
$link:               tint($secondary, $link-percentage);

$quote: shade($text, $quote-percentage);


$border:             shade($accent, $border-percentage);
$button:             tint($secondary, $button-percentage);
$shadow:             shade($secondary, $shadow-percentage);

@import "background";
@import "button";

@import "text";
@import "link";

@import "gradient";
@import "shadow";
