.page-title
{
  font-size: 30px;
  font-size: 1.875rem;
}

h1.page-title,
h2.page-title
{
    font-weight: $bold-font-weight;
}

h1.page-title
{
    line-height: $lg-line-height;
}

.page-header
{
    padding-bottom: calc(2 * $vertical-spacer);

    border-bottom: 3px solid $border;
}

.archive,
.search,
.blog
{
    .content-area
    {
        .format-aside,
        .format-status,
        .format-link
        {
            .entry-content
            {
                font-size: $lead-font-size;
            }
        }
    }

    .format-image,
    .format-gallery,
    .format-video
    {
        .entry-content
        {
            margin-top: calc(2 * $vertical-spacer);
        }
    }

    .entry-footer
    {
        .cat-links,
        .tags-links
        {
            display: block;
        }
    }

    &.logged-in
    {
        .entry-footer
        {
            .posted-on
            {
                margin-right: calc(.5 * $base-value);
            }
        }
    }
}

.archive-description
{
    font-size: $tertiary-font;
    line-height: $base-line-height;

    margin-top: $vertical-spacer;
}
