.page.no-sidebar #primary.content-area,
.page.no-sidebar .content-area,
.single.no-sidebar .content-area {
    max-width: 760px;
    margin: 0 auto;
    padding: 0;
}

#page {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.boxed-layout #page {
    max-width: 1600px;
}
