

.alignleft,
.float-left {
  @include media(mobile_horizontal) {
    display: inline;
  	float: left;
  	margin-right: 1.5em;
  	margin-bottom: 1em;
    img & {
  		margin-right: spacer;
    }
  }
}

.alignright,
.float-right {
  @include media(mobile_horizontal) {

    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1em;

    img & {
        margin-left: $md;
    }
  }
}

.aligncenter,
.float-center {
	clear: both;
	display: block;
	margin: {
		top: 1.5em;
		right: auto;
		bottom: 1.5em;
		left: auto;
	}
	img & {
		margin-bottom: spacer;
	}
}

.clearfix {
    @include clearfix;
}


/**
* Text aligments
*/
