/* Border Width */
$border-widths: (
 1: 1px,
 2: 2px,
 3: 3px,
 4: 4px,
 5: 5px
);

$border-width-xs: 1px * $xs;
$border-width-sm: 2px * $sm; /* 1.75 */
$border-width-md: 3px * $md;
$border-width-lg: 4px * $lg;
$border-width-xl: 5px * $xl;
