/* UI Tabs */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-tabs .ui-tabs-panel {
    background-color: transparent;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-tabs .ui-tabs-panel {
    border: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
    font-weight: 600;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.615384615384615;
    outline: 0;
    padding: 0 7px 28px;
    text-align: center;
    text-transform: uppercase;
}
