.widget-column .instagram-button {
    margin: 0;
}

#footer-instagram .widget,
.widget-area.contact-details-widget-area .catch-instagram-feed-gallery-widget-wrapper .button {
    padding: 0;
}

#footer-instagram .widget-title {
    margin: 0 30px 42px;
    text-align: center;
    letter-spacing: 0;
    text-transform: capitalize;
    padding: 42px 0 28px;
    font-weight: 400;
}
.widget-area .catch-instagram-feed-gallery-widget-wrapper .button {
    margin-top: 21px;
    border: none;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item,
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item {
    margin: 0;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item,
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item {
    width: 16.666%;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item:nth-child(3n+1),
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(3n+1) {
    clear: none;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item:nth-child(6n+1),
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(6n+1) {
    clear: both;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .button {
    margin: 42px auto 0;
    border-radius: 28px;
    border: solid 2px;
}

#footer-instagram {
    padding: 0;
}

.footer-instagram h2.widget-title {
    font-family: 'Courgette', cursive;
    position: relative;
    padding-bottom: 28px;

    &:before {
        position: absolute;
		bottom: 0;
		content: '';
		width: 98px;
		height: 3px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
    }
}
