/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%button {
  display: inline-block;
  position: relative;

  font-family: $accent-font;
  text-decoration: none;
  color: $white;
  font-size: $font-size-base * 14;
  line-height: $lg-line-height;
  font-weight: 500;
  text-transform: uppercase;
  padding: ($offset * 10) ($offset * 16);
  border-radius: $border-radius * 4;
  border: 0;
  outline: none;

  user-select: none;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  @include transition(background-color 0.24s ease-in-out);

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
    @include elevation(4);
    // hovering on the button
    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
      outline: none;
      @include elevation(8);
    } // end hover
    &:focus-visible {
      border-width: $border-width-focus;
    }
  } // end active

  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.unelevated {
  @extend %button; // here we load the button
  box-shadow: none !important;

  &:active {
    background-color: darken($blue, 5%);

    &:hover,
    &:focus {
      background-color: darken($blue, 4%);

      &:focus-visible {
        border-width: $border-width-focus;
      }
    } // end hover
  } // end active
  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.text {
  @extend %button; // here we load the button
  background: transparent;
  box-shadow: none;
  &:active {
    background-color: darken($blue, 5%);

    &:hover,
    &:focus {
      background-color: darken($blue, 4%);

      &:focus-visible {
        border-width: $border-width-focus;
      }
    } // end hover
  } // end active
  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.outlined {
  @extend %button; // here we load the button
  background: transparent;
  outline: 1px solid ($dark, "300");
  outline-offset: -1px;
  color: ($dark, "800");
  box-shadow: none;
  &:active {
    background-color: darken($blue, 5%);

    &:hover,
    &:focus {
      background-color: darken($blue, 4%);

      &:focus-visible {
        border-width: $border-width-focus;
      }
    } // end hover
  } // end active
  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.small{
  @extend %button; // here we load the button
  &:active {
    background-color: darken($blue, 5%);

    &:hover,
    &:focus {
      background-color: darken($blue, 4%);

      &:focus-visible {
        border-width: $border-width-focus;
      }
    } // end hover
  } // end active
  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.large {
  @extend %button; // here we load the button
  &:active {
    background-color: darken($blue, 5%);

    &:hover,
    &:focus {
      background-color: darken($blue, 4%);

      &:focus-visible {
        border-width: $border-width-focus;
      }
    } // end hover
  } // end active
  &:disabled,
  &.inactive {
    background: transparent;
    color: ($dark, "800");
    cursor: not-allowed;
  }
}

.button.$color {
  @extend %button; // here we load the button defaults
  background-color: tint($color, $background-percentage);

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button
