.fab {
  $temp: $offset * 60;
  max-width: $temp;
  max-height: $temp;
  min-width: $temp;
  min-height: $temp;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: ($dark, "200");
  color: #000;
  cursor: pointer;
  @include elevation(4);
  transition: all 0.2s ease;

  & .mdi {
    font-size: $font-size-base * 25;
  }

  &:hover {
    background: ($dark, "300");
    @include elevation(8);
  }

  &:active,
  &:focus-visible {
    background: ($dark, "400");
    @include elevation(14);
  }

  &.primary {
    background: ($primary "500");
    color: #fff;

    &:hover {
      background: ($primary "600");
    }

    &:active,
    &:focus-visible {
      background: ($primary "700");
    }
  }

  &.secondary {
    background: ($secondary, "500");
    color: #fff;

    &:hover {
      background: ($secondary, "600");
    }

    &:active,
    &:focus-visible {
      background: ($secondary, "700");
    }
  }

  &.inactive,
  &:inactive {
    background: ($dark, "200");
    color: ($dark, "600");
    cursor: default;
    @include elevation(0);
  }
}
