/**
 * 1.2 Post Thumbnails
 */

.post-thumbnail {
	@extend %responsive-aligndefault-width;
	text-align: center;

	.entry-header &,
	.singular & {
		@extend %responsive-alignwide-width-nested;
	}

	.post-image {
		display: block;
		width: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: calc(2 * $vertical-offset);
	}
}
