// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
$badge-font-weight:                 $bold-font-weight !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-border-radius:               $border-radius !default;
// scss-docs-end badge-variables


.badge {
  padding: ($offset * 6) ($offset * 8);
  font-size: $font-size-base * 14;
  background: ($dark, "200");
  border-radius: $border-radius * 4;
  user-select: none;

  &.primary {
    background: $primary;
    color: #fff;
  }

  &.secondary {
    background: $secondary;
    color: #fff;
  }

  &.danger {
    background: $invalid;
    color: #fff;
  }

  &.success {
    background: $valid;
    color: #fff;
  }

  &.attention {
    background: $attention;
    color: #fff;
  }
}
