.snackbar {
  position: fixed;
  bottom: 10px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: ($dark, "900");
  color: #fff;
  padding: ($offset * 1) ($offset * 16);
  border-radius: $border-radius * 4;
  @include elevation(4);
  transition: all 0.4s ease;
  transform: translate(-50%, 100%);
  opacity: 0;

  &.show {
    transform: translate(-50%, -10%);
    opacity: 1;
  }

  & .button {
    margin-left: 10px;
  }
}
