@each $breakpoint in $breakpoints {
    $key   : nth($breakpoint, 1);
    $value : nth($breakpoint, 2);

    .visible-#{$key} {
        @media only screen and #{$value} {
            display: block !important;
        }
    }

    .hidden-#{$key} {
        @media only screen and #{$value} {
            display: none !important;
        }
    }
}

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}
