$caption-font-family: 'Glass Antiqua';
$figure-caption-font-size: var(--sm) !default;
$figure-caption-font-size:          $small-font-size !default;
$figure-caption-color:              $primary-color !default
