@mixin html-gradient($html-gradient) {
    background-image: $html-gradient;
    height:100vh;
    background-size:cover;
  }

@mixin footer-gradient {
    background-image: $footer-gradient;
    background-size:cover;
  }

@mixin site-title-gradient {
    background-image: $site-title-gradient;
    height:100vh;
    background-size:cover;
  }

@mixin header-gradient($header-gradient) {
  background-image: $header-gradient;
  height:100vh;
  background-size:cover;
}

@mixin background-gradient($theme-color) {
  background-image: linear-gradient($theme-color, white);
  height: 100vh;
  background-size:cover;
}
