.breadcrumbs {
    display: flex;

    & .item {
        margin-right: 10px;
        color: ($dark,"600");

        &:hover {
            color: ($dark,"700");
        }

        &:focus {
            color: ($dark,"900");
        }

        &.active {
            color: $primary;

            &:hover {
                color: $primary"600");
            }

            &:focus {
                color: $primary"900");
            }

            &:focus-visible {
                box-shadow: 0 0 0 2px $primary"200");
            }
        }
    }
}