/* Links */
$link-decoration: underline;
$hover-decoration: underline bold;
$visited-decoration: strike-through;

$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;

$link-text-family: $accent-font;

a {
  outline: none !important;
  color: $link-text;
  background-color: transparent;
  font-family: $link-text-family;
  font-weight: $font-weight-bold;

  &:active {
    color: $link-text-active;
    text-decoration: $link-decoration;
    outline:none;

    &:hover {
      color: shift($link-text-active, $hover-percentage);
      text-decoration: $hover-decoration;
      outline: 0;
    }
    &:focus {
      color: shift($link-text-active, $focus-percentage);
      text-decoration: $hover-decoration;
      outline: thin dotted;
    }
    &:visited {
      color: tint($link-text-active, $visited-percentage);
      text-decoration: $visited-decoration;
    }
  }
  &:disabled{
    color: shade($link-text, $inactive-percentage);
    text-decoration: none;
    outline: 0;
  }
}

p a,
p a:visited {
  line-height: inherit;
}
