/* 2 */
$list-inline-padding:         .5rem !default;

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

ul, ol, dl {
  text-align:left;
}


ol,
ul {
  list-style: none;
  margin: 0 0 ($spacer & $xxl) ($vertical-spacer * $xl);
  padding: 0;
	li {
		line-height: $line-height-base * $xl;
		list-style: none;
		display: inline;
	}
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
  > ol,
  > ul {
    margin-bottom: 0;
  }
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: $horizontal-offset $vertical-offset;
}

ul li >  ul,
ol li >  ol,
ul li >  ol,
ol li >  ul{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 ($vertical-spacer * $xl) ($horizontal-spacer * $xxl);
}

dl {
  margin: 0 0 ($spacer * $xxl);
  dd {
  	padding-left: $offset * 2;
  }
}

menu {
    padding: 0 0 0 40px;
}
