/* 1 */
@import "banner";

$variable-prefix: ca-;

@import "grid/grid";

/* 2.0 Tools */
/* 2.0 Functions */
@import "tools/functions/assert-ascending";
@import "tools/functions/assert-at-zero";
@import "tools/functions/calc-percent";
@import "tools/functions/color-function";
@import "tools/functions/color-contrast";
@import "tools/functions/colors";
@import "tools/functions/make-color-map";
@import "tools/functions/escape-svg";
@import "tools/functions/map-multiple";
@import "tools/functions/negativify-map";
@import "tools/functions/replace-search";
@import "tools/functions/valid-calc";

@import "tools/properties/change-percentage";
@import "tools/properties/options";
@import "tools/properties/escaped-characters";
@import "tools/properties/structure";
@import "tools/properties/positioning";
@import "tools/properties/aspect-ratio";

/* 2.0 Qualities */
@import "tools/qualities/base-units";
@import "tools/qualities/size";
@import "tools/qualities/spacing";
@import "tools/qualities/width";
@import "tools/qualities/height";
@import "tools/qualities/padding";
@import "tools/qualities/border";
@import "tools/qualities/zindex";

/* 1.0 Variables */
/* 1.1 Colors */
@import "variables/colors/gray-scale";
@import "variables/colors/base";
$silver : #c0c0c0;
$chocolate : #3F000F;
@import "variables/colors/theme";
@import "variables/colors/rgba";
@import "variables/colors/contrast";

@import "variables/link";

/* 1.2 Typography */
@import "variables/typography/typography";
@import "variables/typography/properties/heading-properties";
@import "variables/typography/properties/type-properties";



/* 2.0 Properties */


/* 2.0 Utilities */
@import "tools/utilities/colored-links";
@import "tools/utilities/responsive";
@import "tools/utilities/rfs";
@import "tools/utilities/utilities-generator";
@import "tools/utilities/utilities";
@import "tools/utilities/api";

/* 3.0 Global*/
/* 3.0 Patterns*/
@import "patterns/patterns";


/* 2.0 Mixins */
@import "tools/mixins/responsive";
@import "tools/mixins/backdrop";
@import "tools/mixins/border-box";
@import "tools/mixins/border-radius";
@import "tools/mixins/buttons";
@import "tools/mixins/cards";
@import "tools/mixins/caret";
@import "tools/mixins/center-block";
@import "tools/mixins/color-scheme";
@import "tools/mixins/container";
@import "tools/mixins/elevation";
@import "tools/mixins/flex";
@import "tools/mixins/font-size";
@import "tools/mixins/hover";
@import "tools/mixins/hue-rotate";
@import "tools/mixins/links";
@import "tools/mixins/list";
@import "tools/mixins/list-padding";
@import "tools/mixins/ltr";
@import "tools/mixins/media";
@import "tools/mixins/navigation";
@import "tools/mixins/placeholder";
@import "tools/mixins/reset-box";
@import "tools/mixins/text-truncate";
@import "tools/mixins/transition";
@import "tools/mixins/visually-hidden";
@import "tools/mixins/clearfix";

/* 2.0 Helpers */
@import "tools/helpers/a11y";
@import "tools/helpers/alignment";
@import "tools/helpers/borders";
@import "tools/helpers/clearfix";
@import "tools/helpers/lists";
@import "tools/helpers/misc";
@import "tools/helpers/ratio";
@import "tools/helpers/span";
@import "tools/helpers/stacks";
@import "tools/helpers/stretched-link";
@import "tools/helpers/text-truncation";
@import "tools/helpers/type";
@import "tools/helpers/visibility";
@import "tools/helpers/visually-hidden";
@import "tools/helpers/vr";

/* 3.0 Base*/
@import "global/base/root";
@import "global/base/responsive-style";
@import "global/base/media-query";

@import "global/base/reset";
@import "global/base/normalize";

@import "global/base/section";
@import "global/base/div";
@import "global/base/span";

/* 4.0 Bare Elements*/
/* 4.0 HTML*/
@import "global/html/index";
@import "global/html/body";
@import "global/html/header";
@import "global/html/nav";
@import "global/html/main";
@import "global/html/article";
@import "global/html/aside";
@import "global/html/footer";

/* 4.0 Bare Type*/
@import "global/type/blockquote";
@import "global/type/body";
@import "global/type/display";
@import "global/type/emphasis";
@import "global/type/figure";
@import "global/type/headings";
@import "global/type/lead";
@import "global/type/type";

@import "global/wrapper";

@import "partials/logo";

@import "partials/headings";
@import "partials/site-header";
@import "partials/site-footer";

/* Elements - basic non-text building blocks */
@import "elements/links";
@import "elements/lists";
@import "elements/hr";
