/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/**
 * modules/fonts
 * --
 * Declare fonts here
 */


/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/

/* ________________________________________________ @FONTFACE (IN YOUR FACE) */

  @font-face             {
    font-family: "Avdira";
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/avdira/Avdira_R.woff")
      format("woff");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/avdira/Avdira_R.svg");
      format:("svg");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/avdira/Avdira_R.ttf");
        format:("ttf");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/avdira/avdira.eot");
        format:("eot");
    font-weight: normal;
    font-style: normal;
  }

  @font-face             {
    font-family: "Enjoy Writing";
    src: local( "<?php echo get_template_directory(); ?>/src/typography/fonts/enjoy-writing/enjoywrting.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
  }

  @font-face             {
    font-family: "Euphorigenic";
    font-style: normal;
    font-weight: 400;
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/euphorigenic/EuphorigenicW00Regular.woof")
      format("woff");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/euphorigenic/euphorigenic.woff")
      format("woff");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/euphorigenic/euphorigenic.eot")
      format("eot");
    src: local("<?php echo get_template_directory(); ?>/src/typography/fonts/euphorigenic/euphorigenic.svg")
      format("svg");
  }

  @font-face             {
    font-family: "Glass Antiqua";
    src: local( "./src/fonts/glass-antqiua/glassantiqua.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
    src: url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.eot");
    src: url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.svg#Glass Antiqua")
        format("svg");
  }


  @font-face             {
    font-family: "Hand TypeWriter";
    src: local( "./src/fonts/hand-typerwriter/handtypewriter.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
    src: url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.eot");
    src: url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.svg#Hand TypeWriter")
        format("svg");
  }


  @font-face             {
    font-family: "Life Savers";
    src: local( "./src/fonts/lifesavers/lifesavers.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
    src: url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.eot");
    src: url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.svg#Life Savers")
        format("svg");
  }


  @font-face             {
    font-family: "Raleway";
    src: local( "./src/fonts/raleway/raleway.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
    src: local( "./ssrc/fonts/raleway/raleway.woff2")
        format("woff2");
        font-weight: normal;
        font-style: normal;
    src: url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.eot");
    src: url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.svg#Raleway")
        format("svg");
  }

  @font-face             {
      font-family: "Raylig";
      font-style: normal;
      font-weight: 600;
      src: url("https://fonts.cdnfonts.com/s/70312/RayligSemibold-Wy9mE.woff") format("woff");
  }

  @font-face             {
    font-family: "TELETYPE 1945-1985";
    src: local( "./src/fonts/teletype_1945_1985/TELETYPE1945-1985.woff")
      format("woff");
      font-weight: normal;
      font-style: normal;
    src: url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.eot");
    src: url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.svg#TELETYPE 1945-1985")
        format("svg");
  }

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/

// font stacks
$sans-serif:        system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

/* Enable keyword, short hand for callig font Stack. */
$base-font:        $variable-prefix$sans-serif;;
$code-font:        $variable-prefix$monospace;;

$primary-font:            "Hand Typewriter", $base-font;
$secondary-font:          "Enjoy Writing", $base-font;
$accent-font:             "GlassAntiqua-Regular", $base-font;
$main-font:               "Avdira", $base-font;
$tertiary-font:           "Raleway", $base-font;
$site-font:               "Euphorigenic", $base-font;
$lead-font:               "Raylig", $base-font;

$page-title-font          : $primary-font;
$post-title-font          : $secondary-font;
$sub-title-font           : $lead-font;
$heading-text-font        : tertiary-font;
$quote-text-font          : $accent-font;
$body-text-font           : $main-font;


$body-text-align:           null !default;
$paragraph-margin-bottom:   $offset;

$quotation:               oblique;
$citation:                italic;
$link:                    underline;

$emphasis-font-weight:        600;

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             $sm-font-size !default;

$sub-sup-font-size:          $font-size-base * $xs !default;
$big-font-size: $font-size-base * $lg;
$text-muted:                  rgba(var(--#{$variable-prefix}body-color-rgb), .75) !default;

$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;

// fusv-disable
$hr-bg-color:                 currentColor !default;// Deprecated in v5.2.0
$hr-height:                   null !default;// Deprecated in v5.2.0
// fusv-enable

$hr-border-color:             null !default;// Allows for inherited colors
$hr-border-width:             var(--#{$variable-prefix}border-width) !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$mark-padding:                .2em !default;

$dt-font-weight:              $bold-font-weight !default;

$nested-kbd-font-weight:      $bold-font-weight !default;

$list-inline-padding:         .5rem !default;

$mark-bg:                     #fcf8e3 !default;
// scss-docs-end type-variables


/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p                        {
  -ms-word-wrap: break-word;
  word-break: break-word;  //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}
.drop-cap:first-letter   {
    float: left;
    font-size: 92px;
    font-size: 5.75rem;
    font-weight: bold;
    line-height: 0.6;
    margin: 14px 16px 4px -3px;
}

@media (max-width:500px) {
  body                   {
    font-size:80%;
  }
  img                    {
    max-width:100% !important;
    height:auto !important;
    float:none !important;
  }
}
