// Navbar brand
//
// Used for brand, project, or site names.

$navbar-brand-font-size:            $lg-font-size !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $base-line-height + $nav-link-offset-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $base-line-height !default;
$navbar-brand-offset-y:            ($nav-link-height - $navbar-brand-height) * .5 !default;
$navbar-brand-spacer-end:           1rem !default;


.navbar-brand {
  padding-top: $navbar-brand-offset-y;
  padding-bottom: $navbar-brand-offset-y;
  margin-right: $navbar-brand-spacer-end;
  @include font-size($navbar-brand-font-size);
  color: var(--#{$variable-prefix}navbar-brand-color);
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap;

  &:hover,
  &:focus {
    color: var(--#{$variable-prefix}navbar-brand-hover-color);
    text-decoration: if($hover-decoration == underline, none, null);
  }
}
